.App {
  width: 480px;
  margin: 50px auto 0;
}

.cal {
  width: 480px;
  height: auto;
  padding: 10px 0;
  margin: auto;
  background: #232323;
  border: #000 1px solid;
  border-radius: 15px;
  box-shadow: rgba(0,0,0,0.4) 0px 2px 5px, inset rgba(255,255,255,0.9) 0px 1px 1px -1px;
  background-image: linear-gradient(to top, #333333, #1f1f1f);
  overflow: hidden;
  text-align: center;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 50px;
}
.title-cont{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.title{
  font-family: "Eurostile";
  text-transform: uppercase;
  font-size: 22px;
}
.sub{
  font-family: "Eurostile";
  font-size: 8px;
  letter-spacing: 0;
}

#solar {
  height: 40px;
  width: 120px;
  background: #331700;
  box-shadow: inset 0 -2px 3px #000;
  border-radius: 3px;
}
#solar .panel {
  float: left;
  margin-top: 5px;
  height: 30px;
  width: 25%;    border-right: 1px solid #422;
}

.screen {
  width: 424px;
  height: 93px;
  margin: 12px auto 30px;
  padding: 15px 20px;
  color: #c0c0c0;
  text-align: right;
  font-size: 3em;
  letter-spacing: 3px;
  overflow: hidden;
  border: #000 1px solid;
  border-radius: 15px;
  box-shadow: inset rgba(0,0,0,1) 0px 1px 4px, inset rgba(225,225,225,0.3) 0px -2px 4px -2px;
  background-image: linear-gradient(to top, #3e3e3e 0%, #303030 100%);
  box-sizing: border-box;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
  margin: 10px 30px;
}
.buttons button {
  padding: 18px 12px;
  color: #c0c0c0;
  font-family: "Myriad Pro", Arial, sans-serif;
  font-size: 1.6em;
  font-weight: 500;
  background-color: #2f2f2f;
  border: #000 1px solid;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  text-shadow: #000 0px -1px 0px;
  box-shadow: inset rgba(255,255,255,0.1) 0px 1px 0px, inset rgba(0,0,0,0.2) 0px -2px 2px;
  background-image: linear-gradient(to top, #363636 0%, #313234 40%, #2f2f2f 100%);
  box-sizing: border-box;
  cursor: pointer;
}

.buttons button:active{
  background-image: linear-gradient(to bottom, #363636 0%, #313234 40%, #2f2f2f 100%);

}
.equal{
  grid-row: span 2;
  grid-column: span 1;
}

.wide{
  grid-row: span 1;
  grid-column: span 2;
}