body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: -webkit-linear-gradient(top, #137cbc 0%, #30a3d3 25%, #4ba4be 35%, #4094a1 40%, #c2c7aa 50%, #beaa79 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #c0c0c0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  font-size: 100%;
  letter-spacing: 1.2px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Eurostile";   /*Can be any text*/
  src: local("Eurostile"),
    url("./assets/Eurostile.ttf") format("truetype");
}
@font-face {
  font-family: "DS Digital";   /*Can be any text*/
  src: local("DS-DIGII"),
    url("./assets/DS-DIGII.TTF") format("truetype");
}